Project_Src_Code.json
[{"id":"a9651acc.f00cd8","type":"tab","label":"COVID Flow","disabled":false,"info":""},{"id":"710a04aa.52c3ec","type":"ui_form","z":"a9651acc.f00cd8","name":"","label":"Proceed with your Self Analysis ","group":"8ed66f3d.2375c8","order":1,"width":0,"height":0,"options":[{"label":"Name","value":"nm","type":"text","required":true,"rows":null},{"label":"Email ID","value":"em","type":"email","required":true,"rows":null},{"label":"Age ","value":"age","type":"text","required":true,"rows":null},{"label":"I have experienced breathing problem","value":"bp","type":"switch","required":true,"rows":null},{"label":"I have fever","value":"fv","type":"switch","required":true,"rows":null},{"label":"I have dry cough","value":"dc","type":"switch","required":true,"rows":null},{"label":"I have sore throat","value":"st","type":"switch","required":true,"rows":null},{"label":"I have running nose","value":"rn","type":"switch","required":true,"rows":null},{"label":"I have asthma","value":"as","type":"switch","required":true,"rows":null},{"label":"I have chronic lung disease","value":"cl","type":"switch","required":true,"rows":null},{"label":"I have headache","value":"hc","type":"switch","required":true,"rows":null},{"label":"I am a heart patient","value":"hd","type":"switch","required":true,"rows":null},{"label":"I am a diabetic patient","value":"db","type":"switch","required":true,"rows":null},{"label":"I have hyper tension","value":"ht","type":"switch","required":true,"rows":null},{"label":"I am experiencing fatigue","value":"ft","type":"switch","required":true,"rows":null},{"label":"I have gastrointestinal problems","value":"gl","type":"switch","required":true,"rows":null},{"label":"I have visited abroad recently","value":"at","type":"switch","required":true,"rows":null},{"label":"I had contact with COVID-19 patient in last 28 days","value":"cc","type":"switch","required":true,"rows":null},{"label":"I attended a large gathering in last 28 days","value":"lg","type":"switch","required":true,"rows":null},{"label":"I visited public places like malls,temples recently","value":"plp","type":"switch","required":true,"rows":null},{"label":"Myself or anyone in my family working in public exposed places like hospital,market","value":"flp","type":"switch","required":true,"rows":null},{"label":"I wear mask while going ouside","value":"wm","type":"switch","required":true,"rows":null},{"label":"I sanitize the products which I buy from market","value":"sm","type":"switch","required":true,"rows":null}],"formValue":{"nm":"","em":"","age":"","bp":false,"fv":false,"dc":false,"st":false,"rn":false,"as":false,"cl":false,"hc":false,"hd":false,"db":false,"ht":false,"ft":false,"gl":false,"at":false,"cc":false,"lg":false,"plp":false,"flp":false,"wm":false,"sm":false},"payload":"","submit":"submit","cancel":"cancel","topic":"Choose the options to check whether you are affected by thye COVID-19 Virus","x":197.77777099609375,"y":218.88894653320312,"wires":[["25d79ff4.5de4b8"]]},{"id":"25d79ff4.5de4b8","type":"function","z":"a9651acc.f00cd8","name":"Authentication Token","func":"var bp=msg.payload.bp\nglobal.set(\"bplbl\",\"Breathing Problem\")\nvar fv=msg.payload.fv\nglobal.set(\"fvlbl\",\"Fever\")\nvar dc=msg.payload.dc\nglobal.set(\"dclbl\",\"Dry Cough\")\nvar st=msg.payload.st\nglobal.set(\"stlbl\",\"Sore throat\")\nvar rn=msg.payload.rn\nglobal.set(\"rnlbl\",\"Running Nose\")\nvar as=msg.payload.as\nglobal.set(\"aslbl\",\"Asthma\")\nvar cl=msg.payload.cl\nglobal.set(\"cllbl\",\"Chronic Lung Disease\")\nvar hc=msg.payload.hc\nglobal.set(\"hclbl\",\"Headache\")\nvar hd=msg.payload.hd\nglobal.set(\"hdlbl\",\"Heart Disease\")\nvar db=msg.payload.db\nglobal.set(\"dblbl\",\"Diabetes\")\nvar ht=msg.payload.ht\nglobal.set(\"htlbl\",\"Hyper Tension\")\nvar ft=msg.payload.ft\nglobal.set(\"ftlbl\",\"Fatigue\")\nvar gl=msg.payload.gl\nglobal.set(\"gllbl\",\"Gastrointestinal\")\nvar at=msg.payload.at\nglobal.set(\"atlbl\",\"Abroad travel\")\nvar cc=msg.payload.cc\nglobal.set(\"cclbl\",\"Contact with COVID-19 Patient\")\nvar lg=msg.payload.lg\nglobal.set(\"lglbl\",\"Attended Large Gathering\")\nvar plp=msg.payload.plp\nglobal.set(\"plplbl\",\"Visited Public Exposed Places\")\nvar flp=msg.payload.flp\nglobal.set(\"flplbl\",\"Family working in Public Exposed Places\")\nvar wm=msg.payload.wm\nglobal.set(\"wmlbl\",\"Wearing Masks\")\nvar sm=msg.payload.sm\nglobal.set(\"smlbl\",\"Sanitization from Market\")\nif(at===true){\n    global.set(\"at\",\"Yes\")    \n}else{\n    global.set(\"at\",\"No\")\n}\nif(st===true){\n    global.set(\"st\",\"Yes\")    \n}else{\n    global.set(\"st\",\"No\")\n}\nif(fv===true){\n    global.set(\"fv\",\"Yes\")    \n}else{\n    global.set(\"fv\",\"No\")\n}\nif(dc===true){\n    global.set(\"dc\",\"Yes\")    \n}else{\n    global.set(\"dc\",\"No\")\n}\nif(hc===true){\n    global.set(\"hc\",\"Yes\")\n}else{\n    global.set(\"hc\",\"No\")\n}\nif(ft===true){\n    global.set(\"ft\",\"Yes\")    \n}else{\n    global.set(\"ft\",\"No\")\n}\nif(gl===true){\n    global.set(\"gl\",\"Yes\")    \n}else{\n    global.set(\"gl\",\"No\")\n}\nif(rn===true){\n    global.set(\"rn\",\"Yes\")    \n}else{\n    global.set(\"rn\",\"No\")\n}\nif(wm===true){\n    global.set(\"wm\",\"Yes\")    \n}else{\n    global.set(\"wm\",\"No\")\n}\nif(sm===true){\n    global.set(\"sm\",\"Yes\")    \n}else{\n    global.set(\"sm\",\"No\")\n}\nif(as===true){\n    global.set(\"as\",\"Yes\")    \n}else{\n    global.set(\"as\",\"No\")\n}\nif(cl===true){\n    global.set(\"cl\",\"Yes\")    \n}else{\n    global.set(\"cl\",\"No\")\n}\nif(db===true){\n    global.set(\"db\",\"Yes\")    \n}else{\n    global.set(\"db\",\"No\")\n}\nif(ht===true){\n    global.set(\"ht\",\"Yes\")    \n}else{\n    global.set(\"ht\",\"No\")\n}\nif(hd===true){\n    global.set(\"hd\",\"Yes\")    \n}else{\n    global.set(\"hd\",\"No\")\n}\nif(cc===true){\n    global.set(\"cc\",\"Yes\")    \n}else{\n    global.set(\"cc\",\"No\")\n}\nif(lg===true){\n    global.set(\"lg\",\"Yes\")    \n}else{\n    global.set(\"lg\",\"No\")\n}\nif(plp===true){\n    global.set(\"plp\",\"Yes\")    \n}else{\n    global.set(\"plp\",\"No\")\n}\nif(flp===true){\n    global.set(\"flp\",\"Yes\")    \n}else{\n    global.set(\"flp\",\"No\")\n}\nif(bp===true){\n    global.set(\"bp\",\"Yes\")    \n}else{\n    global.set(\"bp\",\"No\")\n}\nglobal.set(\"nm\",msg.payload.nm)\nglobal.set(\"nmlbl\",\"Name\")\nglobal.set(\"em\",msg.payload.em)\nglobal.set(\"age\",msg.payload.age)\nglobal.set(\"agelbl\",\"Age\")\nvar apikey=\"X6V5dtyC4CdthdrIuTFd-jMWYG-qFbmySccGgkEvFz38\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":80,"wires":[["533856ce.45a97"]]},{"id":"533856ce.45a97","type":"http request","z":"a9651acc.f00cd8","name":"Http Request for Token","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":467.77777099609375,"y":134.44444274902344,"wires":[["13904f19.509e59"]]},{"id":"13904f19.509e59","type":"function","z":"a9651acc.f00cd8","name":"Set data for Http Request","func":"var bp=global.get('bp')\nvar fv=global.get('fv')\nvar dc=global.get('dc')\nvar st=global.get('st')\nvar rn=global.get('rn')\nvar as=global.get('as')\nvar cl=global.get('cl')\nvar hc=global.get('hc')\nvar hd=global.get('hd')\nvar db=global.get('db')\nvar ht=global.get('ht')\nvar ft=global.get('ft')\nvar gl=global.get('gl')\nvar at=global.get('at')\nvar cc=global.get('cc')\nvar lg=global.get('lg')\nvar plp=global.get('plp')\nvar flp=global.get('flp')\nvar wm=global.get('wm')\nvar sm=global.get('sm')\nvar bplbl=global.get('bplbl')\nvar fvlbl=global.get('fvlbl')\nvar dclbl=global.get('dclbl')\nvar stlbl=global.get('stlbl')\nvar rnlbl=global.get('rnlbl')\nvar aslbl=global.get('aslbl')\nvar cllbl=global.get('cllbl')\nvar hclbl=global.get('hclbl')\nvar hdlbl=global.get('hdlbl')\nvar dblbl=global.get('dblbl')\nvar htlbl=global.get('htlbl')\nvar ftlbl=global.get('ftlbl')\nvar gllbl=global.get('gllbl')\nvar atlbl=global.get('atlbl')\nvar cclbl=global.get('cclbl')\nvar lglbl=global.get('lglbl')\nvar plplbl=global.get('plplbl')\nvar flplbl=global.get('flplbl')\nvar wmlbl=global.get('wmlbl')\nvar smlbl=global.get('smlbl')\nvar token=msg.payload.access_token\nvar instance_id=\"45808e4f-a41b-4602-b21b-1f39b9c36dc1\"\nmsg.headers={'Content-Type':'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\":[{\"fields\":[bplbl,fvlbl,dclbl,stlbl,rnlbl,aslbl,cllbl,hclbl,hdlbl,dblbl,htlbl,ftlbl,gllbl,atlbl,cclbl,lglbl,plplbl,flplbl,wmlbl,smlbl],\"values\":[[bp,fv,dc,st,rn,as,cl,hc,hd,db,ht,ft,gl,at,cc,lg,plp,flp,wm,sm]]}]}\nreturn msg;\n","outputs":1,"noerr":0,"x":630,"y":80,"wires":[["a14d30ce.891a08"]]},{"id":"a14d30ce.891a08","type":"http request","z":"a9651acc.f00cd8","name":"Http Request For ML","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/bb20b443-11d1-47e3-96dd-d1eba5c91f54/predictions","tls":"","persist":false,"proxy":"","authType":"","x":740,"y":180,"wires":[["ac261b6.0aeb168"]]},{"id":"ac261b6.0aeb168","type":"function","z":"a9651acc.f00cd8","name":"Covid 19 risk prediction","func":"var responselbl=\"COVID-19\"\nvar resplbl=\"covid\"\nvar response=msg.payload.predictions[0].values[0][0]\nglobal.set(\"responselbl\",responselbl)\nglobal.set(\"response\",response)\nvar predlbl=\"Prediction Percentage\"\nvar pred=msg.payload.predictions[0].values[0][1][1]\nvar predperc=pred*100\nglobal.set(\"predperc\",predperc.toFixed(2)+\"%\")\nglobal.set(\"predlbl\",predlbl)\nglobal.set(\"pred\",pred)\nvar risk\nif(predperc>0 && predperc<=25){\n    risk=\"Low Risk\"\n}else if(predperc>=26 && predperc<=55){\n    risk=\"Medium Risk\"\n}else if(predperc>=56 && predperc<=100){\n    risk=\"High Risk\"\n}\nglobal.set(\"risk\",risk)\nvar ms=\"Check your mail for detailed self analysis report. Stay home, stay safe.\"\nglobal.set(\"ms\",ms)\nmsg.payload=resplbl+\" : \"+response\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":80,"wires":[["ef3e4a6a.8b6788"]]},{"id":"ef3e4a6a.8b6788","type":"function","z":"a9651acc.f00cd8","name":"Set prediction percentage","func":"var predperc=global.get(\"predperc\")\nvar risk=global.get(\"risk\")\nvar ms=global.get(\"ms\")\nvar predc=\"Your covid prediction percentage is \"+predperc+\",  ,\"\nvar rsk=\"You are in \"+risk+\",  ,\"\nvar mes=ms\nmsg.payload=predc+rsk+mes\nreturn msg;","outputs":1,"noerr":0,"x":1019.9999694824219,"y":274,"wires":[["11f9277c.14f1b1","9c36afe3.9745b8"]]},{"id":"c975728d.c043","type":"inject","z":"a9651acc.f00cd8","name":"","topic":"","payload":"","payloadType":"str","repeat":"60","crontab":"","once":true,"onceDelay":"10","x":70,"y":80,"wires":[["710a04aa.52c3ec"]]},{"id":"debb5515.306d2","type":"ui_audio","z":"a9651acc.f00cd8","name":"","group":"8ed66f3d.2375c8","voice":"en-US","always":"","x":1363.66650390625,"y":270,"wires":[],"l":false},{"id":"9c36afe3.9745b8","type":"watson-text-to-speech","z":"a9651acc.f00cd8","name":"Prediction Percentage","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_LisaV2Voice","voicehidden":"","format":"audio/wav","password":"","apikey":"","payload-response":false,"service-endpoint":"","x":1235.6666259765625,"y":263.6666259765625,"wires":[["debb5515.306d2"]],"l":false},{"id":"11f9277c.14f1b1","type":"function","z":"a9651acc.f00cd8","name":"Set data for sending Email","func":"var bp=global.get('bp')\nvar fv=global.get('fv')\nvar dc=global.get('dc')\nvar st=global.get('st')\nvar rn=global.get('rn')\nvar as=global.get('as')\nvar cl=global.get('cl')\nvar hc=global.get('hc')\nvar hd=global.get('hd')\nvar db=global.get('db')\nvar ht=global.get('ht')\nvar ft=global.get('ft')\nvar gl=global.get('gl')\nvar at=global.get('at')\nvar cc=global.get('cc')\nvar lg=global.get('lg')\nvar plp=global.get('plp')\nvar flp=global.get('flp')\nvar wm=global.get('wm')\nvar sm=global.get('sm')\nvar bplbl=global.get('bplbl')\nvar fvlbl=global.get('fvlbl')\nvar dclbl=global.get('dclbl')\nvar stlbl=global.get('stlbl')\nvar rnlbl=global.get('rnlbl')\nvar aslbl=global.get('aslbl')\nvar cllbl=global.get('cllbl')\nvar hclbl=global.get('hclbl')\nvar hdlbl=global.get('hdlbl')\nvar dblbl=global.get('dblbl')\nvar htlbl=global.get('htlbl')\nvar ftlbl=global.get('ftlbl')\nvar gllbl=global.get('gllbl')\nvar atlbl=global.get('atlbl')\nvar cclbl=global.get('cclbl')\nvar lglbl=global.get('lglbl')\nvar plplbl=global.get('plplbl')\nvar flplbl=global.get('flplbl')\nvar wmlbl=global.get('wmlbl')\nvar smlbl=global.get('smlbl')\nvar responselbl=global.get('responselbl')\nvar response=global.get('response')\nvar predlbl=global.get('predlbl')\nvar predperc=global.get('predperc')\nvar nmlbl=global.get('nmlbl')\nvar nm=global.get('nm')\nvar agelbl=global.get('agelbl')\nvar age=global.get('age')\nvar risk=global.get('risk')\nvar risklbl=\"Risk\"\nglobal.set(\"risklbl\",risklbl)\nvar subject=\"\\t Please find your COVID-19 Self Analysis Report\"\nvar healthrep=\"Health report\"\nvar healthrepul=\"-----------------\"\nvar visited=\"Visited details\"\nvar visitedul=\"-------------------\"\nvar safety=\"Safety measures\"\nvar safetyul=\"----------------------\"\nvar testresult=\"Test result\"\nvar testresultul=\"--------------\"\nvar tips=\"Health tips\"\nvar tipsul=\"--------------\"\nvar tip1=\"1. Wash your hands frequently with soap and water\"\nvar tip2=\"2. Avoid touching your eyes, nose or mouth with unwashed hands\"\nvar tip3=\"3. Use hand sanitizers frequently\"\nvar tip4=\"4. Avoid close contact with people showing symptoms of illness\"\nvar tip5=\"5. Avoid mass gathering and maintain social distance\"\nvar contact=\"Promptly seek medical attention if you experience fever,cough or difficulty in breathing. Please call the 24*7 helpline number at 1075 or 011-23978046\" \nmsg.payload=\"Hi \"+nm+\",\"+\"\\n\"\nmsg.payload=msg.payload+subject+\"\\n\\n\"\nmsg.payload=msg.payload+healthrep+\"\\n\"\nmsg.payload=msg.payload+healthrepul+\"\\n\"\nmsg.payload=msg.payload+bplbl+\" : \"+bp+\"\\n\"\nmsg.payload=msg.payload+fvlbl+\" : \"+fv+\"\\n\"\nmsg.payload=msg.payload+dclbl+\" : \"+dc+\"\\n\"\nmsg.payload=msg.payload+stlbl+\" : \"+st+\"\\n\"\nmsg.payload=msg.payload+rnlbl+\" : \"+rn+\"\\n\"\nmsg.payload=msg.payload+aslbl+\" : \"+as+\"\\n\"\nmsg.payload=msg.payload+cllbl+\" : \"+cl+\"\\n\"\nmsg.payload=msg.payload+hclbl+\" : \"+hc+\"\\n\"\nmsg.payload=msg.payload+hdlbl+\" : \"+hd+\"\\n\"\nmsg.payload=msg.payload+dblbl+\" : \"+db+\"\\n\"\nmsg.payload=msg.payload+htlbl+\" : \"+ht+\"\\n\"\nmsg.payload=msg.payload+ftlbl+\" : \"+ft+\"\\n\"\nmsg.payload=msg.payload+gllbl+\" : \"+gl+\"\\n\\n\"\nmsg.payload=msg.payload+visited+\"\\n\"\nmsg.payload=msg.payload+visitedul+\"\\n\"\nmsg.payload=msg.payload+atlbl+\" : \"+at+\"\\n\"\nmsg.payload=msg.payload+cclbl+\" : \"+cc+\"\\n\"\nmsg.payload=msg.payload+lglbl+\" : \"+lg+\"\\n\"\nmsg.payload=msg.payload+plplbl+\" : \"+plp+\"\\n\"\nmsg.payload=msg.payload+flplbl+\" : \"+flp+\"\\n\\n\"\nmsg.payload=msg.payload+safety+\"\\n\"\nmsg.payload=msg.payload+safetyul+\"\\n\"\nmsg.payload=msg.payload+wmlbl+\" : \"+wm+\"\\n\"\nmsg.payload=msg.payload+smlbl+\" : \"+sm+\"\\n\\n\"\nmsg.payload=msg.payload+testresult+\"\\n\"\nmsg.payload=msg.payload+testresultul+\"\\n\"\nmsg.payload=msg.payload+responselbl+\" : \"+response +\"\\n\"\nmsg.payload=msg.payload+predlbl+\" : \"+predperc+\"\\n\"\nmsg.payload=msg.payload+risklbl+\" : \"+risk+\"\\n\\n\\n\"\nmsg.payload=msg.payload+tips+\"\\n\"\nmsg.payload=msg.payload+tipsul+\"\\n\"\nmsg.payload=msg.payload+tip1+\"\\n\"+tip2+\"\\n\"+tip3+\"\\n\"+tip4+\"\\n\"+tip5+\"\\n\\n\\t\"+contact\nmsg.to=global.get(\"em\")\nmsg.topic=\"COVID-19 Self Analysis Report\"\nreturn msg;","outputs":1,"noerr":0,"x":1065.7143249511719,"y":516.1905517578125,"wires":[["eb0cba65.1e76e8"]]},{"id":"eb0cba65.1e76e8","type":"e-mail","z":"a9651acc.f00cd8","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"Send Email","x":1308.4285278320312,"y":518.4762573242188,"wires":[]},{"id":"8ed66f3d.2375c8","type":"ui_group","z":"","name":"COVID-19 Self Analysis Test","tab":"64b4d9ca.0f7818","order":2,"disp":true,"width":"13","collapse":false},{"id":"64b4d9ca.0f7818","type":"ui_tab","z":"","name":"COVID-19","icon":"dashboard","disabled":false,"hidden":false}]